html{
    height: 100%;
    overflow-x: hidden;
}




body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    height: 100%;
    background-image: url(sky.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}



#copyright{
    position: fixed;
    top: 10px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 12px;
}























/*CSS for the response and input text*/
#botSpace, #words{
    width: 500px;
    height: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    margin: 0;
    transition: .2s ease-in;
    line-height: 1.5;
}

#botSpace{
    font-size: 28px;
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}































/*CSS for the button*/
#start{
    width: 125px;
    height: 125px;
    border-radius: 100%;
    cursor: pointer;
    background-color: black;
    opacity: 0.7;
    border:2px solid white;
    text-align: center;
}

.fa.fa-microphone{
    color: white;
    font-size: 42px;
}

@keyframes glowing{

    from{box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);}
    to{box-shadow: 0 0 40px 20px rgba(255, 0, 0, 1);}

}

.glow{
    animation-name: glowing;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

























/*CSS for voice selection*/
#voices{

    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid white;

}




























/*CSS for the button which brings to commands list*/
#commands{

    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 15px;
    border-radius: 50px;
    border: 2px solid white;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-align: left;
    width: 40px;
    transition: .2s ease-in;

}

#commandsText{
    position: absolute;
    top: 12px;
    left: 60px;
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#commands span{
    font-size: 18px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hide{
    display: none;
}































/*CSS for Modal*/
#commandsModal{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

@keyframes popup{

    from{transform: scale(0);}
    to{transform: scale(1);}

}

#commandsModal-content{
    background-color: #fff;
    padding: 20px;
    width: 80%;
    margin: 5% auto;
    border-radius: 10px;
    transition: .2s ease-in;
    animation-name: popup;
    animation-duration: .2s;
}

#close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#commandsTitle{
    font-size: 28px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    margin-top: 20px;
}

#commandsTitle-line{
    width: 100px;
    height: 5px;
    background-color: black;
    border: none;
    outline: none;
}


#coming{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #888888;
    text-align: center;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 20px;
}

#commandsDescription{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 1.5;
}

iframe{
    height: 250px;
    width: 95%;
    margin: 0 auto;
    display: block;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
}

#suggestion{
    font-family: Arial, Helvetica, sans-serif;
    color: #888888;
    text-align: center;
}

#suggestion a{
    text-decoration: underline;
    color: #888888;
}

#suggestion a:hover{
    text-decoration: underline;
    color: black;
}


































/*CSS for comments modal*/
#commentsModal{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#commentsModal-content{
    background-color: #fff;
    padding: 20px;
    width: 80%;
    margin: 5% auto;
    border-radius: 10px;
    transition: .2s ease-in;
    animation-name: popup;
    animation-duration: .2s;
    font-family: Arial, Helvetica, sans-serif;
}

#commentsTitle{
    font-size: 28px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    margin-top: 20px;
}

#commentsTitle-line{
    width: 100px;
    height: 5px;
    background-color: black;
    border: none;
    outline: none;
}

#commentsDescription{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 1.5;
}

#comments{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid white;
    border-radius: 50px;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 5px 12px;
    color: white;
    cursor: pointer;
}





































/*CSS for cross-platform perfomance*/

@media only screen and (max-width: 1200px){

    #botSpace{
        font-size: 24px;
    }

}

@media only screen and (max-width: 1030px){

    #botSpace{
        font-size: 22px;
    }

    #commandsDescription{
        font-size: 16px;
    }

    #commandsList{
        font-size:18px ;
    }

}

@media only screen and (max-width: 700px){

    #botSpace{
        font-size: 18px;
    }

    #words{
        font-size: 16px;
    }

    #commandsList{
        font-size: 16px;
    }

    #copyright{
        font-size: 8px;
        top: 2px;
    }

    #commands{
        font-size: 18px;
        margin-left: 0;
        border-radius: 50px
    }

    #comments{
        font-size: 18px;
        margin-left: 0;
        border-radius: 50px
    }

}

@media only screen and (max-width: 500px){

    #botSpace{
        font-size: 16px;
        margin-bottom: 50px;
    }

    #words{
        font-size: 14px;
        width: 60%;
    }

    #voices{
        font-size: 14px;
        padding: 5px 10px;
    }

    #commandsDescription{
        font-size: 14px;
    }

}

@media only screen and (max-width: 300px){

    #voices{
        font-size: 12px;
    }

}